<html>
  <head>
    <title>Collection</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app" v-cloak>
      <!-- begin table -->
      <div class="list__content">
        <p class="list__title">A Collection of Plants</p>
        <!-- list head -->
          <div class="list__head">
            <p class="list__item">Name</p>
            <p class="list__item">Scientific name</p>
            <p class="list__item">Light</p>
            <p class="list__item">Lifespan</p>
            <p class="list__item">Image</p>
          </div>
          <!-- list data -->
          <div v-for="(plant, index) in plants"
           v-bind:class="{list__data: (index + 1) % 2 === 0, odd: (index + 1) % 2 !==0}">
              <div class="list__data-item">
                {{plant.name}}</div>
              <div class="list__data-item">
                {{plant.sciname}}</div>
              <div class="list__data-item">
                {{plant.light}}</div>
              <div class="list__data-item">
                {{plant.life}}</div>
              <div class="list__data-item">
                <img v-bind:src="plant.image" class="list__data-image"></div>
              <div class="list__data-item actions">
                <button type="button" v-on:click="deleteItem (plant)">Delete</button>
              </div>
          </div>
      </div>

      <form v-on:submit.prevent="submitHandler">
        <legend class="new-plant-form__title">Add a plant to the collection</legend>
        <div class="new-plant-form">
          <div class="form__item">
            <label for="name">Name</label>
            <input id="name" type="text"
            v-model="newPlantObj.name">
          </div>
          <div class="form__item">
            <label for="sciname">Scientific Name</label>
            <input id="sciname" type="text"
            v-model="newPlantObj.sciname">
          </div>
          <div class="form__item">
            <label for="light">Light</label>
            <input id="light" type="text"
            v-model="newPlantObj.light">
          </div>
          <div class="form__item">
            <label for="life">Lifespan</label>
            <input id="life" type="text"
            v-model="newPlantObj.life">
          </div>
          <div class="form__item">
            <label for="image">Image</label>
            <input id="image" type="text"
            v-model="newPlantObj.image">
          </div>
          <button type="submit">Submit</button>
      </form>
    </div>

    <!-- scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5"></script>
    <script src="script.js"></script>
  </body>
</html>
