[v-cloak] {
  display: none;
}

body {
  font-family: sans-serif;
  background: #6585C7;
  color: white;
  letter-spacing: 2px;
}

.list__title {
  font-size: 4rem;
  padding: 3rem;
  text-align: right;
  letter-spacing: 5px;
}

.list__head {
  display: flex;
  justify-content: space-around;
  text-align: center;
  border-bottom: 1px solid white;
}

.list__item {
  text-align: center;
  display: inline-block;
  width: 50%;
}

.list__data {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem 0;
}

.list__data-item {
  text-align: center;
  display: inline-block;
  width: 50%;
}

.list__data-image {
  width: 50%;
}

.odd {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 2rem 0;
  background: #9096A8;
}

.new-plant-form {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.new-plant-form__title {
  padding: 0 6rem;
  font-size: 2rem;
}

input, label {
  display: block;
}
